<footer class="main-footer">
    <div class="container">
        <div class="flex">
            <div class="flex__6 main-footer__copyright">{{ settings.site_copyright }}</div>
            <div class="flex__6 main-footer__phone">{{ settings.site_phone }}</div>
        </div>
    </div>
</footer>