<section class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
                <a href="{{ base_url }}">Главная</a>
            </li>
            <li class="breadcrumbs__item">
                {{ page.short_title }}
            </li>
        </ul>
        <h1 class="breadcrumbs__title">{{ page.title }}</h1>
    </div>
</section>