<section class="section reviews" id="reviews">
    <div class="container">
        <div class="flex">
            <div class="flex__1-2">
                <div class="section__title">
                    <h2 class="section-title__h2">
                        Нас выбирают
                    </h2>
                </div>
                <div class="reviews__about-us">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                    <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
                </div>
                <a href="#" class="btn btn--outline">
                    Читать далее
                </a>
            </div>
            <div class="flex__1-2">
                <div class="reviews-swiper swiper-container">
                    <div class="swiper-wrapper">
                        <div 
                            class="reviews-swiper__item swiper-slide"
                        >
                            <a href="#" class="reviews__link">
                                <img 
                                    class="reviews__img"
                                    src="{{ base_url }}assets/img/review.jpg" 
                                    alt=""
                                >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>