<section class="main-slider">
    <div class="main-slider__content slider-content">
        <div class="container">
            <div class="main-slider-swiper swiper-container">
                <div class="swiper-wrapper">
                    <div 
                        class="main-slider-swiper__item slider-item swiper-slide"
                        style="background-image: url({{base_url}}assets/img/slider/main-slider-1.jpg);"
                    >
                        <div class="slider-item__content">
                            <h3 class="slider-item__title">
                                Поставки металлопроката в любых объемах
                            </h3>
                            <a href="#" class="btn btn--yellow">
                                Заказать звонок
                            </a>
                        </div>
                    </div>
                    <div 
                        class="main-slider-swiper__item slider-item swiper-slide"
                        style="background-image: url({{base_url}}assets/img/slider/main-slider-2.jpg);"
                    >
                        <div class="slider-item__content">
                            <h3 class="slider-item__title slider-item__title--white">
                                Широкий ассортимент <span class="slider-item__title--yellow">продукции</span>
                            </h3>
                            <a href="#" class="btn btn--yellow">
                                Продукция
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>