{{ include('widgets/_header.twig') }}

{{ include('widgets/breadcrumbs.twig') }}

<section class="section manager">
    <div class="container">
        Наш менеджер савяжется с вами в ближайшее время!
    </div>
</section>

{{ include('widgets/_footer.twig') }}