@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
  transition: box-shadow 0.24s; }
  input:focus,
  button:focus,
  select:focus,
  textarea:focus {
    box-shadow: 0 0 0 3px rgba(57, 146, 221, 0.3); }

h1, h2, h3, h4, h5, h6 {
  margin: 0px; }

a {
  color: inherit;
  text-decoration: none; }

img {
  display: block; }

html {
  overflow-x: hidden; }

body {
  line-height: 1;
  margin: 0; }

p {
  margin-top: 0; }

ol,
ul {
  list-style: none;
  padding-left: 28px; }

* {
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #231F20; }
  @media (max-width: 376px) {
    body {
      font-size: 16px; } }

.section {
  padding: 64px 0 0 0; }
  .section--gray {
    background-color: #F8F8F8; }
  @media (max-width: 830px) {
    .section {
      padding: 48px 0; } }

.section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .section-title__h2 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 20px; }
    @media (max-width: 830px) {
      .section-title__h2 {
        font-size: 28px; } }
  .section-title__control {
    display: flex;
    position: relative;
    gap: 24px; }

.swiper-wrapper {
  height: auto; }

.footer-content--bottom {
  flex-direction: column;
  text-align: center;
  font-size: 12px; }
  .footer-content--bottom > a {
    text-decoration: underline; }

.main-content ul {
  list-style-type: disc;
  padding-left: 40px; }

.main-content ol {
  list-style-type: auto;
  padding-left: 40px; }

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-bottom: 20px; }

.main-content img {
  max-width: 100%;
  margin-bottom: 40px; }

p {
  margin-bottom: 24px; }

ul {
  margin: 24px 0; }

li {
  margin-bottom: 8px; }

table {
  width: 100%;
  margin-bottom: 24px;
  font-size: 15px;
  background: #fff !important;
  border: 1px solid #d8d8d8;
  overflow: auto; }

table th {
  font-weight: bold;
  padding: 12px;
  background: #f7d22d;
  border: none;
  text-align: left;
  font-size: 15px; }

table td {
  padding: 12px;
  border: none;
  border-top: 3px solid #fff;
  font-size: 15px; }

table tbody tr:nth-child(even) {
  background: #f8f8f8 !important; }

.modal-link {
  color: #F75E2D;
  text-decoration: underline;
  background: none;
  cursor: pointer; }

.delete-link {
  color: #fff;
  background: #F75E2D;
  width: 25px;
  height: 25px;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
  border-radius: 50%; }

.select {
  padding: 8px 12px;
  border-radius: 4px; }

#site-translater {
  font-size: 14px;
  line-height: 22px; }

.notfound {
  font-size: 80px;
  text-align: center;
  display: block;
  font-weight: 700;
  color: #f7d22d; }

.container {
  max-width: 1260px;
  padding: 0 16px;
  margin: 0 auto; }

.container-fluid {
  width: 100%;
  max-width: 1730px;
  padding: 0 80px;
  margin: 0 auto; }
  @media (max-width: 1420px) {
    .container-fluid {
      width: auto;
      max-width: 1260px;
      padding: 0 16px; } }

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .flex__1-2 {
    flex: 0 0 auto;
    width: 50%; }
  .flex__1-3 {
    flex: 0 0 auto;
    width: calc(100% / 3); }
  .flex__6 {
    flex: 0 0 auto;
    width: calc(calc(100%/12)*6); }
  .flex__5 {
    flex: 0 0 auto;
    width: calc(calc(100%/12)*5); }
  .flex__4 {
    flex: 0 0 auto;
    width: calc(calc(100%/12)*4); }
  .flex__2 {
    flex: 0 0 auto;
    width: calc(calc(100%/12)*2); }
  .flex__3 {
    flex: 0 0 auto;
    width: calc(calc(100%/12)*3); }
  .flex__9 {
    flex: 0 0 auto;
    width: calc(calc(100%/12)*9); }
  .flex__12 {
    flex: 0 0 auto;
    width: calc(calc(100%/12)*12); }
  .flex--v-center {
    align-items: center; }

.btn {
  display: inline-block;
  position: relative;
  padding: 4px 24px;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #3992DD;
  background-color: #3992DD;
  transition: 0.16s background-color, 0.16s border-color, 0.24s box-shadow;
  user-select: none; }
  .btn:hover {
    background-color: #4f9ee1;
    border-color: #4f9ee1; }
  .btn:focus, .btn:active {
    box-shadow: 0 0 0 2px rgba(57, 146, 221, 0.3); }
  .btn__circle {
    padding: 8px;
    border-color: rgba(231, 231, 231, 0.2);
    background-color: rgba(231, 231, 231, 0.2);
    box-shadow: 0px 2px 5px -3px black; }
    .btn__circle > img {
      display: block;
      transition: 0.16s transform, 0.16s box-shadow; }
    .btn__circle--active > img {
      transform: rotate(180deg); }
    .btn__circle:hover {
      background-color: rgba(231, 231, 231, 0.2);
      border-color: rgba(231, 231, 231, 0.2); }
    .btn__circle:focus, .btn__circle:active {
      background-color: rgba(231, 231, 231, 0.4);
      border-color: rgba(231, 231, 231, 0.4);
      box-shadow: 0px 0px 5px -3px black; }
  .btn--gradient {
    border: none;
    background: linear-gradient(258.99deg, #F28F17 2.49%, #FEED00 135.88%); }
  .btn--yellow {
    border-color: #F7D22D;
    background: #F7D22D;
    color: #231F20; }
    .btn--yellow:hover {
      background-color: #deb708;
      border-color: #deb708; }
  .btn--red {
    border-color: #FF2E65;
    background: #FF2E65;
    color: #ffffff; }
    .btn--red:hover {
      background-color: #f0003f;
      border-color: #f0003f; }
  .btn--outline {
    background: none;
    border-color: #F7D22D;
    font-weight: 500;
    color: #231F20; }
    .btn--outline:hover {
      background-color: #F7D22D;
      border-color: #F7D22D; }

.input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px; }
  .input-group > label {
    font-weight: 600; }
  .input-group__input {
    padding: 8px 12px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 6px;
    border: 1px solid #BDBDBD; }
    .input-group__input::placeholder {
      color: #646464; }

.err-mess {
  background: #f7d22d42;
  width: 100%;
  display: block;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px; }

.input-err {
  position: absolute;
  background: #F5A014;
  padding: 8px 10px;
  left: 0;
  right: 16px;
  top: 40px;
  display: inline-flex;
  border-radius: 4px;
  margin-top: 15px;
  line-height: 1.2;
  font-size: 16px;
  width: 100%; }
  .input-err:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #F5A014;
    top: -5px;
    left: 15px;
    transform: rotate(45deg); }
  @media (max-width: 830px) {
    .input-err {
      position: relative;
      top: auto; } }

.main-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  background: rgba(0, 0, 0, 0.61); }
  .main-modal__content {
    position: relative;
    padding: 32px 40px;
    margin: 16px;
    border-radius: 12px;
    background-color: #ffffff; }
    @media (max-width: 830px) {
      .main-modal__content {
        padding: 24px 24px; } }
  .main-modal__btn-close {
    position: absolute;
    padding: 8px;
    right: 16px;
    top: 16px;
    border-radius: 8px;
    cursor: pointer;
    background: none;
    border: none;
    box-shadow: none;
    outline: none; }
  .main-modal__icon-close {
    width: 16px;
    height: 16px; }
  .main-modal__shadow {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    opacity: .7; }

.main-moodal__content {
  min-width: 80%;
  height: auto;
  overflow-y: auto;
  background: #f3f3f3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  position: absolute;
  border-radius: 12px; }

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  gap: 4px; }

.form-field > input[type="text"] {
  padding: 8px 12px;
  border-radius: 3px; }

.form-field > label {
  font-weight: 600; }

.buttons-block {
  display: flex;
  gap: 12px; }

.main-header {
  position: relative;
  width: 100%;
  color: #231F20;
  z-index: 11; }
  .main-header__content {
    display: flex;
    flex-direction: column;
    padding: 28px 0; }
  .main-header__top {
    margin-bottom: 20px; }

.header-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }
  .header-top__logo {
    margin-right: 40px; }
  .header-top__promo {
    display: flex;
    flex-direction: column; }
  .header-top__contact {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-left: auto; }

.header-promo__title {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 8px; }
  .header-promo__title--color {
    color: #F7D22D; }

.header-promo__label {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.promo-label {
  font-size: 14px;
  font-weight: 600;
  line-height: 1; }
  .promo-label__icon {
    margin-right: 8px; }
  .promo-label__dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #FF2E65;
    margin: 0 8px; }

.header-contact__phone {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  color: #F7D22D;
  margin-bottom: 8px; }

.header-contact__adress {
  font-size: 14px;
  font-weight: 600; }

.header-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .header-bottom__nav {
    margin-right: auto; }
  .header-bottom__callback {
    margin-left: 28px; }

.main-nav {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 600; }
  .main-nav__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px; }
  .main-nav__li {
    padding: 8px 0;
    transition: 0.18s color; }
    .main-nav__li:not(:last-child) {
      margin-right: 28px; }
    .main-nav__li:hover {
      color: #F7D22D; }
    .main-nav__li--active {
      text-decoration: underline; }

.lang-switcher {
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline;
  transition: 0.18s color; }
  .lang-switcher__link {
    display: flex;
    align-items: center; }
  .lang-switcher:hover {
    color: #F7D22D; }
  .lang-switcher__icon {
    margin-right: 8px; }

.main-slider {
  width: 100%; }
  .main-slider__content {
    width: 100%; }

.slider-item {
  position: relative;
  height: 312px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-size: cover;
  background-position: center; }
  .slider-item__content {
    padding-left: 40px;
    width: 50%; }
  .slider-item__title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 16px; }
    .slider-item__title--white {
      color: #fff; }
    .slider-item__title--yellow {
      color: #F7D22D; }

.catalog__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px; }

.catalog__item {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
  padding: 12px 16px; }

.category-item {
  display: flex;
  align-items: center; }
  .category-item__img {
    margin-right: 24px;
    width: 70px;
    border-radius: 50%; }
  .category-item__name {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px; }
  .category-item__link {
    font-size: 12px;
    font-weight: 500;
    color: #F75E2D;
    text-decoration: underline; }
    .category-item__link:hover {
      color: #b73207; }

.partners-swiper__logo {
  width: 100%; }

.partners-swiper__item {
  height: 120px;
  display: flex;
  align-items: center; }

.reviews__about-us {
  padding-right: 16px;
  font-size: 16px;
  margin-bottom: 32px; }

.reviews__img {
  display: block;
  width: 100%;
  border: 12px solid #E6EDFE; }

.callback {
  position: relative;
  background-size: cover; }
  .callback::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(4, 4, 4, 0.5); }
  .callback__section {
    margin-top: 80px;
    padding: 60px 0; }
  .callback__title {
    color: #fff;
    z-index: 11; }
  .callback__group:not(:last-child) {
    padding-right: 24px; }
  .callback__btn {
    height: 100%; }

.contacts__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px; }

.contacts__list {
  display: flex;
  flex-direction: column; }

.contacts__item {
  display: flex;
  gap: 12px; }
  .contacts__item:not(:last-child) {
    margin-bottom: 16px; }

.contacts__link {
  text-decoration: underline;
  font-weight: 600; }
  .contacts__link:hover {
    color: #F7D22D; }

.main-footer {
  margin-top: 80px;
  padding: 32px;
  background: #f3f3f3; }
  .main-footer__phone {
    text-align: right; }

.breadcrumbs {
  padding: 40px 0;
  background: #f3f3f3; }
  .breadcrumbs__list {
    padding: 0;
    display: flex;
    margin-top: 0px;
    margin-bottom: 8px; }
  .breadcrumbs__item > a {
    color: #f1cc25; }
  .breadcrumbs__item {
    margin-right: 20px;
    position: relative; }
  .breadcrumbs__item:not(:last-child):after {
    content: '-';
    position: absolute;
    right: -13px; }
  .breadcrumbs__title {
    font-size: 34px;
    margin-bottom: 20px; }

.main-catalog__sidebar {
  padding-right: 40px; }

.main-catalog__img {
  float: right;
  width: 360px;
  margin-left: 20px; }

.main-catalog-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0; }
  .main-catalog-list__item {
    border: 2px solid #F7D22D;
    margin-bottom: 8px;
    font-weight: 500;
    text-decoration: underline;
    border-radius: 6px;
    transition: background-color 0.4s; }
    .main-catalog-list__item:hover, .main-catalog-list__item--active {
      background-color: #F7D22D;
      text-decoration: none; }
  .main-catalog-list__link {
    display: block;
    padding: 8px 16px;
    cursor: pointer; }

.catalog-callback {
  padding: 20px 30px;
  background: #f3f3f3;
  border-radius: 6px;
  margin-top: 40px;
  width: 100%;
  display: inline-block; }

.login-form {
  max-width: 350px;
  margin: auto;
  padding: 80px 0; }
  .login-form > form {
    display: flex;
    flex-direction: column;
    gap: 20px; }

.site-settings__group {
  margin-bottom: 24px; }

.site-settings__group:not(:nth-child(3n)) {
  padding-right: 16px; }

@supports (-webkit-touch-callout: none) {
  .callback-h {
    background-attachment: inherit; } }
